*{
  margin:0;
  pading:0;
  box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 120px;
  
}
 .menu{
  display: flex;
  gap: 32px;
  color: #000000;
 }

 .btn{
  color: rgba(255, 255, 255, 1);
  background-color: #30B868;
  padding: 12px 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 4px;
 }

 .btn:hoover {
  background-color: wheat;
 }

 /* header section */
 header{
  padding-top: 35px;
  background-image: url(../assets/hero-bg.png);
  height: 675px;
 }
  section {
    width: 85%;
    max-width: 1360px;
    padding-top: 116px;
    
    
  text-align: center;
  justify-content: center;
  margin: 0 auto;
 }
.head-btn{
  
  border-radius: 1000px;
background: rgba(255, 255, 255, 1);

  font-size: 15px;
  font-size: medium;
  padding: 8px 12px 8px 34px;
  color: #30B868;

}

#header-section .banner-heading{
  font-family: inter;
  font-style: bold;
  font-size: 72px;
  color:rgba(255, 255, 255, 1);
}

.banner-heading .banner-h2{
  color: rgba(48, 184, 104, 1);
}
.banner-p{
 font-family: inter;
 font-style: normal;
 font-size: 15px;
 font-weight: 400;
 line-height: 24px;
 margin-top: 16px;
 text-align: center;
 margin: 0 auto;
 color: rgba(255, 255, 255, 1);
}
.button{
  margin-top: 32px;
  gap: 16px;
  margin-bottom: 180px;
  
}

.button .btn-1{
  padding: 12px 16px;
  border-radius: 4px;
background-color: #30B868;
color: rgba(255, 255, 255, 1);
}

.btn-2{
  box-sizing: border-box;
border: 1px solid rgb(65, 53, 53);
border-radius: 4px;
padding: 12px 16px;

color: rgb(88, 68, 68);


}

#about{
  padding-top: 130px;
  
}
#about .about-container{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}
.about-container h1 {
  margin-bottom: 16px;
}
.about-container p{
  margin-bottom: 45px;
}
#about  .card-box{
  display: flex;
  gap: 24px;
}

.card-box .card-1{
  padding: 24px;
  max-width: 322px;
  box-shadow: 0 6px 50px 0 #e9e8e8;
}

.card-1 img{
  max-width: 60px;
  margin-bottom: 16px;
  background: rgba(249, 85, 85, 1);

}
.card-1 h3{
  font-size: 24px;
  color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
margin-bottom: 16px;


}

.card-1 p{
  font-size: 16px;
  color: var(--#627382, rgba(98, 115, 130, 1));

font-weight: 400;
line-height: 20px;

text-align: center;
margin-bottom: 20px;
}
