*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 120px;
  
}
 .menu{
  display: flex;
  gap: 32px;
  color: #000000;
 }

 .btn{
  color: rgba(255, 255, 255, 1);
  background-color: #30B868;
  padding: 12px 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 4px;
 }

 .btn:hoover {
  background-color: wheat;
 }

 /* header section */
 header{
  padding-top: 35px;
  background-image: url(../assets/hero-bg.png);
  height: 675px;
 }
  section {
    width: 85%;
    max-width: 1360px;
    padding-top: 116px;
    
    
  text-align: center;
  justify-content: center;
  margin: 0 auto;
 }
.head-btn{
  
  border-radius: 1000px;
  background: white;
  font-size: 15px;
  font-size: medium;
  padding: 8px 12px 8px 34px;
  color: #30B868;
  

}

#header-section .banner-heading{
  font-family: inter;
  font-style: bold;
  font-size: 72px;
  color:rgba(255, 255, 255, 1);
}

.banner-heading .banner-h2{
  color: rgba(48, 184, 104, 1);
}
.banner-p{
 font-family: inter;
 font-style: normal;
 font-size: 15px;
 font-weight: 400;
 line-height: 24px;
 margin-top: 16px;
 text-align: center;
 margin: 0 auto;
 color: rgba(255, 255, 255, 1);
}
.button{
  margin-top: 32px;
  gap: 16px;
  margin-bottom: 180px;
  
}

.button .btn-1{
  padding: 12px 16px;
  border-radius: 4px;
background-color: #30B868;
color: rgba(255, 255, 255, 1);
}

.btn-2{
  box-sizing: border-box;
border: 1px solid white;
border-radius: 4px;
padding: 12px 16px;
background-color: transparent;

color: white;


}

#about{
  padding-top: 130px;
  
}
#about .about-container{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}
.about-container h1 {
  margin-bottom: 16px;
}
.about-container p{
  margin-bottom: 45px;
}
#about  .card-box{
  display: flex;
  gap: 24px;
}

.card-box .card-1{
  padding: 24px;
  max-width: 322px;
  box-shadow: 0 6px 50px 0 #e9e8e8;
}

.card-1 img{
  max-width: 60px;
  margin-bottom: 16px;
  background: rgba(249, 85, 85, 1);

}
.card-1 h3{
  font-size: 24px;
  color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
margin-bottom: 16px;


}

.card-1 p{
  font-size: 16px;
  color:  rgba(98, 115, 130, 1);

font-weight: 400;
line-height: 20px;

text-align: center;
margin-bottom: 20px;
}
 #solution {
  width: 85%;
  max-width: 1360px;
  display: flex;
   gap: 60px;
 }

 #solution .solution-section{
  max-width: 700px;
  gap: 40px;
  margin-top: 102px;
 }

 .solution-section h4{
  font-size: 16px;
  text-align: left;
  font-style: medium;
  color:  rgba(70, 145, 101, 1);
  margin-bottom: 16px;
 }

 .solution-section h1{
  text-align: left;
  margin-bottom: 16px;
 }

 .solution-section .s-p{
  color: rgba(98, 115, 130, 1);
  font-size: 16px;
  width: 700px;
  text-align: left;
  margin-bottom: 16px;

 }
 #solution .check{
  display: flex;
  gap: 6px;
 }

 .check p{
  font-size: 16px;
  margin-bottom: 8px;
  text-align: left;
 }
 .check img{
  width: 20px;
  height: 20px;
 }

 #task{
  width: 85%;
  max-width: 1360px;
  padding: 80px 40px;
  align-items: center;
  border-radius: 12px;
background: rgba(247, 246, 242, 1);
margin-top: 120px;
 }
 #task h2{
  font-family: inter;
  font-style: bold;
  font-size: 40px;
  text-align: center;
  margin-bottom: 16px;
 }

 #task p{
  width: 1280px;
  font-size: 16px;
  text-align: center;
  color:  rgba(98, 115, 130, 1);
  margin-bottom: 24px;


 }
 #task .btn-3{
  width: 194px;
  height: 52px;
  padding: 12px 16px;
  border-radius: 4px;
box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
background:  rgba(70, 145, 101, 1);
margin: 16px;
color: white;
border: none;
 }
  footer{
    background:  rgba(0, 25, 49, 1);
    height: 348px;
  }
 #foot{
  display: flex;
  width: 85%;
  max-width: 1360px;
  justify-content: space-between;
  border-top: 240px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 80px;

 }
 #foot p{
  color: rgba(255, 255, 255, 1);
 }
 #foot .img-1{
  display: flex;
  gap: 16px;
  
 }
 .last-section{
  max-width: 1360px;
  width: 85%;
  margin: 0 auto;
 }
 .sm-section{
  text-align: center; 
  color: rgba(255, 255, 255, 1);
  margin-bottom: 30px;
 }
 .social-links{
  margin-bottom: 16px;
 }
 .social-links p{
  margin-bottom:16px ;
 }
 .last-section{
  margin-bottom: 85px;
 }

 .last-section hr{
  margin: 30px;
 }